.App {
  text-align: center;
}

.wrapper {
  background-color: #F1F1F1;
  
}

.add-new {
  background: #FFFFFF;
  margin: 0 50px;
}

.list-title {
  padding: 80px 0 40px 40px;
  color: #757575;
  font-size: 28px;
  text-align: left;
  font-weight: 600;
}

.input-field {
  margin: 10px 0px 10px 30px;
  padding: 7px;
  font-size: 18px;
  background: #FAFAFA;
}

.button-add {
  margin: 10px 30px;
  padding: 5px;
  font-size: 20px;
  background: #EDEDED;
  color: #858585;
}

.name-list {
  margin: 20px 50px;
  background: #FFFFFF;
  font-size: 18px;
}

.person {
  border-top: thick solid #F1F1F1;
  border: 1px;
  padding: 20px 0;

}
.name-column-header {
  cursor: pointer;
  cursor: hand;
}


.name-column {
  float: left;
  padding: 5px 0 5px 35px;
  width: 20%;
  text-align: left;
  
}

.mail-column {
  float: left;
  padding: 5px 0 5px 35px;
  width: 30%;
  text-align: left;
}

.phone-column {
 float: left;
 padding: 5px 0 5px 5px;
 width: 20%;
 text-align: left;
}

.buttons-column {
 float: left;
 padding: 5px 35px 5px 0;
 width: 30%;
 text-align: right;
}

.button-modify {
  margin-left: 20px;
  text-align: right;
  border: none;
  background: #FFFFFF;
}
.button-delete {
  margin-left: 20px;
  text-align: right;
  border: none;
  color: red;
  background: #FFFFFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


