.App {
  text-align: center;
}

.wrapper {
  background-color: #F1F1F1;
  float: left;
}

.add-new {
  background: #FFFFFF;
  margin: 0 50px;
}

.list-title {
  margin-left: 10px;
  padding: 80px 0 40px 40px;
  color: #757575;
  font-size: 28px;
  text-align: left;
  font-weight: 600;
}

.input-field {
  margin: 10px 0px 10px 30px;
  padding: 7px;
  font-size: 18px;
  background: #FAFAFA;
  border: solid;
  border-color: #EEEEEE;
}

.button-add {
  margin: 10px 30px;
  padding: 5px;
  font-size: 20px;
  background: #EDEDED;
  color: #858585;
  border: none;
}

.form-edit {
  background: turquoise;
  margin: 2px 0px;
}

.button-save-changes {
  margin: 15px 0 30px 225px;
  text-align: right;
  background: #FFFFFF;
}

.button-discard-changes {
  margin: 15px 20px;
  text-align: right;
  background: #FFFFFF;
}

.name-list {
  margin: 10px 50px 100px;
  background: #FFFFFF;
  font-size: 18px;
}

.person {
  padding: 20px 0;
  border-style: solid;
  border-color: #F1F1F1;
}

.column-headers {
  padding: 10px 0;
}

.name-column-header {
  cursor: pointer;
  cursor: hand;
}

.name-column {
  float: left;
  padding: 5px 0 5px 40px;
  width: 20%;
  text-align: left;
  text-transform: capitalize;
}

.mail-column-header {
  cursor: pointer;
  cursor: hand;
}

.mail-column {
  float: left;
  padding: 5px 0 5px 40px;
  width: 30%;
  text-align: left;
}

.phone-column-header {
  cursor: pointer;
  cursor: hand;
}

.phone-column {
 float: left;
 padding: 5px 0 5px 15px;
 width: 20%;
 text-align: left;
}

.buttons-column {
 float: left;
 padding: 5px 35px 5px 0;
 width: 30%;
 text-align: right;
}

.button-modify {
  margin-left: 20px;
  text-align: right;
  border: none;
  background: #FFFFFF;
}

.button-delete {
  margin-left: 20px;
  text-align: right;
  border: none;
  color: red;
  background: #FFFFFF;
}

.message-info {
  padding: 30px 20px;
  font-size: 20px;
  color: blue;
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to {opacity: 1; }
}


